{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true,
      "classProperty": true,
      "functionBind": true
    },
    "transform": {
    },
    "target": "es5"
  },
  "module": {
    "type": "commonjs"
  }
}
